body {
   margin-top: 60px;
   background-color: lightgoldenrodyellow;
}

/* .card {
  
display: inline-block;
margin-top: 5px;
margin-left: 30px;
margin-right: 20px;
width: 380px;
height: 550px;
}

@media only screen and (max-width: 500px) {
   .card {
      margin-left: 0px;
      margin-right: 0px;
      width: 330px;
      height: 450px;
   }
}
 */