/*--------------------------------------------Global Styles*/

html,
body {
   width: 100%;
   height: 100%;
   margin: 0px;
   background-color: seashell;
   font-weight: 400;
}


/*--------------------------------------------Card Styles*/

.card {
   background-color: #f5f5dc;
}

.card .card-reveal {
   background-color: #f5fffa;
}

.card-reveal {
   font-size: 16px;
   font-weight: 300;
}

.card .card-title {
   font-size: 20px;
   font-weight: 400;
}

.card {
   margin-top: 30px;
   margin-bottom: 60px;
}

p>strong {
   font-weight: 300;
}

.card-content p {
   font-weight: 500;
   font-size: 15px;
}

.card.medium {
   height: 350px;
}

.card .card-content {
   padding-bottom: 40px;
   padding-top: 10px;
}

.side-nav {
   width: 180px;
   padding: 0px;
}


/*--------------------------------------------Navbar Styles*/

.nav-wrapper {
   background-color: #778899;
}

.side-nav {
   background-color: #F3F3F3;
}

.side-nav li>a {
   color: #696969;
   display: block;
   font-size: 14px;
   font-weight: 500;
   height: 48px;
   line-height: 48px;
   padding: 0 16px;
}

nav .brand-logo {
   padding-left: 15px;
}

nav ul a {
   font-size: 16px;
}


/*-----------------------------------------Miscellaneous Styles*/

.btn_small {
   height: 36px;
   width: 80px;
   line-height: 36px;
   margin: 5px 5px;
   padding: 0 0.5em;
}

.link-style {
   opacity: 1;
   transition: 0.3s;
}

.link-style:hover {
   opacity: 0.4;
}

.fixed-action-btn {
   padding-bottom: 50px;
}

.row-padding {
   padding-bottom: 50px;
}

.input-field .prefix~input,
.input-field .prefix~textarea,
.input-field .prefix~label,
.input-field .prefix~.validate~label,
.input-field .prefix~.autocomplete-content {
   font-size: 18px;
}

.select-wrapper input.select-dropdown {
   font-size: 18px !important;
}

select {
   border: 1px solid seashell !important;
}

.select-wrapper input.select-dropdown {
   height: 6rem !important;
}

/*--------------------------------------------Index Page Styles*/

@media (min-width: 961px) {
   .index-body {
      background-image: url("../../static/img/veggies.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: auto;
   }

}

.index-style {
   padding-top: 80px;
}

.index-style .card {
   background: rgba(0, 0, 0, .6);
}

.index-style label {
   font-size: 16px;
   color: #ccc;
}

.index-style input {
   font-size: 20px;
   color: #fff;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
.title-style {
   background-color: rgba(0, 0, 0, .6) !important;
   ;
   background: rgba(0, 0, 0, .6) !important;
   ;
   background-image: none !important;
   color: #ccc !important;
}


/*--------------------------------------------Footer Styles*/

footer,
.page-footer {
   text-decoration: none;
   height: 60px;
   margin-bottom: 0px;
   padding-bottom: 0px;
   background-color: #778899;
}

footer {
   position: fixed;
   margin: auto;
   height: 100px;
   width: 100%;
   margin-top: 0px;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1030;
}


/*----------------------------------------Pagination Styles*/

.easyPaginateNav {
   position: relative;
   text-align: center;
   margin: auto;
   width: 100% !important;
}

.easyPaginateNav a {
   color: #708090;
   border-radius: 10px;
   font-size: 16px;
   padding: 0 8px;
   line-height: 20px;
}

.easyPaginateNav .current {
   background-color: #6a5acd;
   color: #f5fffa;
}