{% extends 'base.html'%} {% block content %}


<div class="container">
      <div class="row">
            <div class="col s12 m6 l4">
                  <div class="card medium hoverable">
                        <div class="card-image ">
                              <img src="static/img/chinese.jpeg" alt="A plate of chinese vegetables in a special sauce">
                              <span class="card-title">中文</span>
                        </div>
                        <div class="card-content">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni soluta at, dolorum
                                    error magnam iure
                                    est nulla quod mollitia laborum? </p>
                        </div>
                        <div class="card-action">
                              <a href="{{url_for('recipes_by_country', country_name='China')}}">Chinese Collection</a>
                        </div>
                  </div>
            </div>

            <div class="col s12 m6 l4">
                  <div class="card medium hoverable">
                        <div class="card-image">
                              <img src="static/img/indian.jpeg" alt="A bowl of indian pea and potato medium spiced curry">
                              <span class="card-title"> भारतीय</span>
                        </div>
                        <div class="card-content">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni soluta at, dolorum
                                    error magnam iure
                                    est nulla quod mollitia laborum? </p>
                        </div>
                        <div class="card-action">
                              <a href="{{url_for('recipes_by_country', country_name='India')}}">Indian Collection</a>
                        </div>
                  </div>
            </div>

            <div class="col s12 m6 l4">
                  <div class="card medium hoverable">
                        <div class="card-image">
                              <img src="static/img/thai.jpg" alt="A bowl of spicy thai vegetable noodle soup">
                              <span class="card-title">
                                    ไทย</span>
                        </div>
                        <div class="card-content">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni soluta at, dolorum
                                    error magnam iure
                                    est nulla quod mollitia laborum?</p>
                        </div>
                        <div class="card-action">
                              <a href="{{url_for('recipes_by_country', country_name='Thailand')}}">Thai Collection</a>
                        </div>
                  </div>
            </div>

            <div class="col s12 m6 l4">
                  <div class="card medium hoverable">
                        <div class="card-image">
                              <img src="static/img/viet.jpeg" alt="A bowl of vietnamese vegetable noodles">
                              <span class="card-title">Tiếng Việt</span>
                        </div>
                        <div class="card-content">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni soluta at, dolorum
                                    error magnam iure
                                    est nulla quod mollitia laborum? e</p>
                        </div>
                        <div class="card-action">
                              <a href="{{url_for('recipes_by_country', country_name='Vietnam')}}">Vietnamese Collection</a>
                        </div>
                  </div>
            </div>

            <div class="col s12 m6 l4">
                  <div class="card medium hoverable">
                        <div class="card-image">
                              <img src="static/img/other.jpeg" alt="Vegan veggir kebab skewers with tofu and peanut dippng sauce">
                              <span class="card-title">ល្បាយអាស៊ី</span>
                        </div>
                        <div class="card-content">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni soluta at, dolorum
                                    error magnam iure
                                    est nulla quod mollitia laborum?</p>
                        </div>
                        <div class="card-action">
                              <a href="{{url_for('recipes_by_country', country_name='Other')}}">Miscellaneous
                                    Collection</a>
                        </div>
                  </div>
            </div>

      </div>
</div>


{% endblock %}