{% extends 'base.html'%}
{% block content %}

<div class="container">
      <!--Clickable cards which link to the courses recipe collections -->
      <div class="row">
            <br>
            <br>
            <div>
                  <button class="closebtn btn waves-effect waves-light" onclick="this.parentElement.style.display='none'">Registered
                        & Logged in<i class="material-icons left">clear</i>
                  </button>
            </div>
            <h5>Courses List</h5>
            <p>Click on the cards for more info</p>
            <div class="col s12 m6 l4">
                  <div class="card medium hoverable z-depth-2">
                        <div class="card-image">
                              <img src="static/img/starter.jpg" alt="Picture of a rice and vegetable balls in a savoury sauce">
                              <span class="card-title">Starters</span>
                        </div>
                        <div class="card-content">
                              <h5><small>A delightful collection of starters from across Asia.</small>
                              </h5>
                        </div>
                        <div class="card-action">
                              <a href="{{url_for('recipes_by_course', course_type='Starter')}}">Starters</a>
                        </div>
                  </div>
            </div>
            <div class="col s12 m6 l4">
                  <div class="card medium hoverable z-depth-2">
                        <div class="card-image">
                              <img src="static/img/main.jpeg" alt="Picture of spicy asian vegan meatballs">
                              <span class="card-title">Mains</span>
                        </div>
                        <div class="card-content">
                              <h5><small>A delicious collection of dinner options from across Asia.</small>
                              </h5>
                        </div>
                        <div class="card-action">
                              <a href="{{url_for('recipes_by_course', course_type='Main')}}">Mains</a>
                        </div>
                  </div>
            </div>
            <div class="col s12 m6 l4 offset-m3">
                  <div class="card medium hoverable z-depth-2">
                        <div class="card-image">
                              <img src="static/img/dessert.jpeg" alt="Dairy free advocado and nut cakes">
                              <span class="card-title">Desserts</span>
                        </div>
                        <div class="card-content">
                              <h5><small>A delectable collection of desserts from across Asia.</small></h5>
                        </div>
                        <div class="card-action">
                              <a href="{{url_for('recipes_by_course', course_type='Dessert')}}"> Desserts</a>
                        </div>
                  </div>
            </div>
      </div>
</div>


{% endblock %}